input {
    width: 100%;
    background-color: rgba(2,0, 3, .5);
    color:aliceblue;
    letter-spacing: .5rem;
    font-size:18px;
    font-weight: 300;
    font-family: 'Quicksand', sans-serif;
    margin: 2em 0;
    padding: 20px;
    border:1px solid coral;
    text-align:start;
    cursor: pointer;
}
.inputbox{
   
    padding-top: 2em;
}